mat-card {
    padding: 16px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.card-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.mat-card-title {
    font-weight: 700;
}

mat-card-header {
    position: sticky;
    top: 0;
    background-color: inherit;
    z-index: 10;
    padding: 8px;
  }
  
  .scrollable-content {
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100% - 56px);
  }