<div class="nav-container">
    <div class="title-section">
        <div class="back-button" *ngIf="hasBackButton" (click)="goBack()">
            <mat-icon class="mat-icon">keyboard_arrow_left</mat-icon>
        </div>
        <div class="title-text">
            <h2>{{title}}</h2>
        </div>
    </div>
    <div class="nav-profile-section">
        <div class="circle">
            <img src="../../../assets/notif.svg" class="notification-icon" alt="">
        </div>
        <div class="circle">
            <img src="../../../assets/Profil.png" class="avatar" alt="">
        </div>
    </div>
</div>