.general-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  max-width: 400px;
  margin-left: 22px;
  margin-top: 32px;
}

.notification-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  max-width: 400px;
  margin-left: 22px;
  margin-top: 32px;
}

.full-width {
  width: 100%;
}

.time-format {
  display: flex;
  gap: 16px;
}

.radio-item {
  padding: 8px 16px;
  border-radius: 8px;
  transition: border 0.3s;
}

.radio-item.mat-radio-checked {
  border: 2px solid blue;
}

.notification-settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  /* padding: 10px; */
}

::ng-deep .mdc-switch__icons {
  display: none !important;
}

.button-width {
  width: 216px;
  height: 55px;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 600;
}