<div class="menu-bar-container">
    <div class="menu-bar" >
        <mat-drawer-container class="mat-drawer-container" autosize>
            <mat-drawer *ngIf="!noHeader" class="side-bar" #drawer opened="true" mode="side" position="start">
                <div class="logo-container">
                    <app-logo></app-logo>
                </div>
                <mat-nav-list>
                <mat-list-item class="menu-item-container" routerLink="dashboard">
                    <div class="menu-item">
                        <div class="menu-item-icon-container">
                            <img class="menu-item-icon" src="../../../assets/category-2.svg" alt="dashboard"> 
                        </div>
                        <p class="menu-item-text">Dashboard</p>
                    </div>
                </mat-list-item>
                <!-- <mat-list-item routerLink="slider">
                    <div class="menu-item">
                        <div class="menu-item-icon-container">
                            <img class="menu-item-icon" src="../../../assets/category-2.svg" alt=""> 
                        </div>
                        <p class="menu-item-text">Home</p>
                    </div>
                </mat-list-item> -->
                <mat-list-item class="menu-item-container" routerLink="task">
                    <div class="menu-item">
                        <div class="menu-item-icon-container">
                            <img class="menu-item-icon" src="../../../assets/book.svg" alt="task"> 
                        </div>
                        <p class="menu-item-text">Task</p>
                    </div>
                </mat-list-item>
                <mat-list-item class="menu-item-container" routerLink="message">
                    <div class="menu-item">
                        <div class="menu-item-icon-container">
                            <img class="menu-item-icon" src="../../../assets/message.svg" alt="message">
                        </div>
                        <p class="menu-item-text">Message</p>
                    </div>
                </mat-list-item>
                <mat-list-item class="menu-item-container" routerLink="settings">
                    <div class="menu-item">
                        <div class="menu-item-icon-container">
                            <img class="menu-item-icon" src="../../../assets/setting-2.svg" alt="settings"> 
                        </div>
                        <p class="menu-item-text">Settings</p>
                    </div>
                </mat-list-item>
            </mat-nav-list>
            </mat-drawer>
            <mat-drawer-content class="mat-drawer-content">
                <div style="width: 100%;">
                    <div *ngIf="!noHeader">
                        <app-header backUrl="{{backUrl}}" [hasBackButton]="hasBackButton" title="{{pageTitle}}"></app-header>
                    </div>
                    <div style="text-align: center;min-height: 600px;">
                        <router-outlet></router-outlet>
                    </div>

                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>