/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


html, body { height: 100%; background-color: #F5F5F5;}
body { margin: 0; font-family:'Plus Jakarta Sans', sans-serif; }
input, textarea {
  opacity: 0.5; 
  color: rgba(0, 0, 0, 0.5);
}

.mat-typography {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
  width: 100%;
  background-color: #F5F5F5;
}

