<div class="background">
    <div class="left-section">
        <div class="top-section">
            <p class="top-text">Let's finish your task today!</p>
            <p class="billboard">You’ve got 4 tasks today</p>
            <mat-form-field appearance="outline" class="search-bar">
                <mat-icon color="primary" matPrefix>search</mat-icon>
                <input matInput placeholder="Search something..." />
            </mat-form-field>
        </div>

        <div class="task-cards">
            <div class="tasks-section-header">
                <p class="ongoing">Ongoing Task</p>
                <p (click)="navigateTo('task')" class="see-all">See All Tasks</p>
            </div>
            <div class="task-cards-flex">
                <app-task-card task="{{'School Mgt Web App'}}" [progress]="90" date="{{'June 18, 2023'}}">
                    <div class="badge-ongoing">3 days left</div>
                </app-task-card>
                <app-task-card task="{{'e Commerce Mobile App'}}" [progress]="30" date="{{'June 30, 2023'}}">
                    <div class="badge-ongoing">3 days left</div>
                </app-task-card>
            </div>
        </div>
        <div class="charts-section">
            <div class="charts">
                <mat-card class="mat-card-charts" width="100%" height="320px">
                    <div class="charts-section-container">
                        <div class="tasks">
                            <div class="tasks-header">Total Tasks</div>
                            <p class="total-tasks">13</p>
                            <div class="badge-orange">Ongoing Tasks</div>
                            <p class="number-of-tasks">8</p>
                        </div>
                        <div class="chart-subsection">
                            <div class="progress-container">
                                <mat-progress-spinner
                                  class="example-margin"
                                  color="primary"
                                  mode="determinate"
                                  [strokeWidth]="10"
                                  [diameter]="100"
                                  [value]="progressValue">
                                </mat-progress-spinner>
                                <div class="progress-text">{{ progressValue }}%</div>
                              </div>
                            <div class="badge-completed">Completed Tasks</div>
                            <p class="total-completed">5</p>
                        </div>

                    </div>
                </mat-card>
            </div>
            <div class="team-members">
                <mat-card class="mat-card">
                    <mat-card-content class="mat-card-content">
                        <div class="team-section-container">
                            <div class="tasks-section-header">
                                <p class="team-members-text">Team Members</p>
                                <div class="see-all-div">
                                    <p class="see-all-team">See all</p>
                                </div>
                            </div>
                            <div class="avatars-container">
                                <div class="avatar-card">
                                    <div class="avatar-image-container">
                                        <img src="../../../assets/girl-avatar.png" class="avatar">

                                    </div>
                                    <div class="avatar-text">
                                        <p class="avatar-text-item-bold">Maria Memon</p>
                                        <p class="avatar-text-item">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="avatar-card">
                                    <div class="avatar-image-container">
                                        <img src="../../../assets/girl-avatar.png" class="avatar">

                                    </div>
                                    <div class="avatar-text">
                                        <p class="avatar-text-item-bold">Anita Olusegun</p>
                                        <p class="avatar-text-item">UI/UX Designer</p>
                                    </div>
                                </div>
                                <div class="avatar-card">
                                    <div class="avatar-image-container">
                                        <img src="../../../assets/man-avatar.png" class="avatar">

                                    </div>
                                    <div class="avatar-text">
                                        <p class="avatar-text-item-bold">Kingsley Dele</p>
                                        <p class="avatar-text-item">UI Designer</p>
                                    </div>
                                </div>
                                <div class="avatar-card">
                                    <div class="avatar-image-container">
                                        <img src="../../../assets/girl-avatar.png" class="avatar">

                                    </div>
                                    <div class="avatar-text">
                                        <p class="avatar-text-item-bold">Anita Olusegun</p>
                                        <p class="avatar-text-item">UI/UX Designer</p>
                                    </div>
                                </div>
                                
                            </div>
    
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="right-section">
        <div class="calendar"></div>
        <div class="messages">
            <mat-card class="mat-card-calendar">
                <div class="calendar-section-header">
                    <div class="calendar-text-header">
                        <p class="calendar-text-small">July 7, 2023</p>
                        <p class="calendar-text-big">Today</p>
                    </div>
                    <div class="">
                        <button (click)="navigateTo('task/createTask')" class="button" mat-raised-button color="primary">
                            <mat-icon class="icon">add</mat-icon>
                            Add Task
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="messages">
            <mat-card class="mat-card-messages">
                <mat-card-content class="mat-card-content">
                    <div class="message-section-container">
                        <div class="message-section-header">
                            <p class="message-members-text">Messages</p>
                        </div>
                        <div class="avatars-container">
                            <div class="avatar-card">
                                <div class="message-image-container">
                                    <img src="../../../assets/photo.png" class="avatar">

                                </div>
                                <div class="message-text">
                                    <p class="message-text-item-bold">Anita Olusegun</p>
                                    <p class="message-text-item">Thank you very much. I’m glad ...</p>
                                </div>
                                <!-- <div class="message-info">
                                    <div class="message-info-one">1m ago</div>
                                    <div class="message-info-two"><mat-icon>done_all</mat-icon></div>
                                </div> -->
                            </div>
                            <div class="avatar-card">
                                <div class="message-image-container">
                                    <img src="../../../assets/photo (1).png" class="avatar">

                                </div>
                                <div class="message-text">
                                    <p class="message-text-item-bold">Jakob Saris</p>
                                    <p class="message-text-item">You : Sure! let me tell you about w…</p>
                                </div>
                            </div>
                            <div class="avatar-card">
                                <div class="message-image-container">
                                    <img src="../../../assets/girl-avatar.png" class="avatar">

                                </div>
                                <div class="message-text">
                                    <p class="message-text-item-bold">Emery Korsgard</p>
                                    <p class="message-text-item">Thank’s. You are very helpful...</p>
                                </div>
                            </div>
                            <div class="avatar-card">
                                <div class="message-image-container">
                                    <img src="../../../assets/girl-avatar.png" class="avatar">
                                </div>
                                <div class="message-text">
                                    <p class="message-text-item-bold">Jeremy Zucker</p>
                                    <p class="message-text-item">You : Sure! let me teach you about...</p>
                                </div>
                            </div>
                            <div class="avatar-card">
                                <div class="message-image-container">
                                    <img src="../../../assets/photo (1).png" class="avatar">

                                </div>
                                <div class="message-text">
                                    <p class="message-text-item-bold">Jakob Saris</p>
                                    <p class="message-text-item">You : Sure! let me tell you about w…</p>
                                </div>
                            </div>
                            <div class="avatar-card">
                                <div class="message-image-container">
                                    <img src="../../../assets/girl-avatar.png" class="avatar">

                                </div>
                                <div class="message-text">
                                    <p class="message-text-item-bold">Emery Korsgard</p>
                                    <p class="message-text-item">Thank’s. You are very helpful...</p>
                                </div>
                            </div>
                            <button (click)="navigateTo('message')" class="message-button" mat-raised-button color="primary">
                                See All Messages
                            </button>
                            
                        </div>

                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>



</div>