.background {
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 1200px;
    overflow-x: scroll;

}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 32px;
    width: 65%;
}
.right-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 32px;
    padding-right: 32px;
    width: 35%;
    /* background-color: green; */
}

.badge-ongoing {
    background-color: #546FFF33;
    color: #546FFF;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.badge-completed {
    background-color: #E2FEED;
    color: #20AE59;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 40px;
}
.badge-orange {
    background-color: #FFB800;
    color: #141522;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 40px;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.name-text {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
}
.top-text {
    font-weight: 500;
    font-size: 20px;
    color: #54577A;
    margin-bottom: 22px;
}
.billboard {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 32px;
    line-height: 1;
    text-align: left;
}
.search-bar {
    /* min-width: 300px; */
    width: 100%;
    height: 50px;
    border: none;
}

.task-cards {
    width: 100%;
    margin-top: 37px;
}
.tasks-section-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.ongoing {
    font-weight: 700;
    font-size: 24px;
}
.see-all {
    font-weight: 600;
    font-size: 20px;
    color: #546FFF;
    cursor: pointer;
}
.task-cards-flex {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    width: 100%;
    /* background-color: red; */
}
.charts-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
}
.charts {
    /* min-width: 400px; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.charts-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 100%;
    padding-bottom: 30px;
    
}
.mat-card-charts {
    border-radius: 20px;
    width: 100%;
    height: 320px;
    overflow: hidden;
}
.tasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    
}
.tasks-header {
    font-weight: 700;
    font-size: 15px;
}
.total-tasks {
    font-weight: 700;
    font-size: 85px;
    margin-top: 40px;
    
}
.chart-subsection {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.number-of-tasks {
    font-weight: 400;
    font-size: 36px;
    margin-top: 20px;
}
.total-completed {
    font-weight: 400;
    font-size: 36px;
    margin-top: 20px;
}
.team-members {
    width: 100%;
    height: 100%;
}
.team-members-text {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: left;
}
.calendar-text {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}
.calendar-section-header {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 32px;
}
.calendar-text-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
}
.calendar-text-small {
    font-weight: 600;
    font-size: 14px;
    
}
.calendar-text-big {
    font-weight: 700;
    font-size: 28px;
    
}
.team-section-container {
    width: 100%;
    height: 100%;
    /* padding: -16px; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
}
.message-section-container {
    width: 100%;
    height: 100%;
    /* padding: -16px; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
}
.team-section-header {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}
.message-section-header {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}
.message-members-text {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.see-all-team {
    font-size: 10px;
    font-weight: 400;
    color: #546FFF;
}
.see-all-div {
    /* padding: 10px; */
    border-radius: 20px;
    background-color: white;
    width: 50px;
    height: 19px;
    cursor: pointer;
}
.avatars-container {
    /* background-color: #546FFF; */
    width: 100%;
    /* height: auto; */
    overflow: hidden;
    
}
.avatar-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 96%;
    height: 43px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8.5px;
    
}
.avatar-image-container{
    height: 32px;
    width: 32px;
}
.message-image-container{
    height: 48px;
    width: 48px;
}
.avatar {
    object-fit: contain;
    width: 100%;
}
.avatar-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #546FFF;
    text-align: left;
    line-height: 1.5;
}
.message-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* color: #546FFF; */
    text-align: left;
    line-height: 1.5;
}

.avatar-text-item-bold {
    font-weight: 700;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.avatar-text-item {
    font-weight: 700;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

.message-text-item-bold {
    font-weight: 700;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.message-text-item {
    font-weight: 400;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.progress-container {
    position: relative;
    display: inline-block;
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: black;
  }

  .mat-card {
    border-radius: 20px;
    width: 100%;
    height: 320px;
    background-color: #546FFF;
    overflow: hidden;

  }
  .mat-card-messages {
    border-radius: 20px;
    width: 372px;
    height: 500px;
    background-color: white;
    overflow: hidden;
    z-index: inherit;
    margin-bottom: 10px;

  }
  .mat-card-calendar {
    border-radius: 20px;
    width: 372px;
    height: 270px;
    margin-top: 10px;
    margin-bottom: 27px;
    overflow: hidden;
    /* padding: 10px; */

  }

  .messages {
    width: 100%;
    overflow: hidden;
  }

  .button {
    height: 57px !important;
    width: 190px !important;
}
  .message-button {
    margin-top: 20px;
    height: 50px !important;
    width: 318px !important;
}